/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
flex: 1 0 auto;
}

/* Custom CSS */
section {
padding: 1rem 0;
}

#welcome {
	color: gray;
	filter: grayscale(20%);
	text-align: center;
}

.portfolio {
background-color: #0f0f11;
color: #888888;
align-content: center;
}

footer {
padding: 2rem 0 75px 0;
background-color: #0f0f11;
color: #888888;
text-align: left;
}

@media only screen and (min-width:768px) {
	footer {
	padding: 2rem 0;
}
	section:nth-child(2){
	padding: 75px 0 2rem 0;
}
}

/* Client Logos */
.container.clients{
padding: 16px 0;
}

.client-logos{
background: #2f2f2f;
}

img.scale-with-grid {
max-width: 100%;
height: auto;
}

.websites {
margin: auto;
width: 75%;
border: 3px black;
padding: 10px;
}

.container {
margin-right: 1rem;
}

